

//------custom scrollbar-----
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #8070d4;
}