.card-reset {
  border: none;
  padding: 20px;
  //   background-color: #ffe53b;
  //   background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  //   background-color: #f4d03f;
  //   background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  color: #fff;

  .circle {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5855e7;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
  }

  .form-reset {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;

    .form-control-input {
      height: 50px;
      background-color: #1c1e21;
      text-indent: 24px;
      font-size: 15px;
      color: rgb(255, 255, 255);
    }

    .form-control-input:focus {
      background-color: #25272a;
      box-shadow: none;
      color: #fff;
      border-color: #f2f208;
      border-width: 2px;
    }
  }

  .form-reset i {
    position: absolute;
    font-size: 18px;
    top: 48px;
    left: 10px;
  }

  .form-check-label {
    margin-top: 2px;
    font-size: 14px;
  }

  .signup {
    height: 50px;
    font-size: 14px;
    width: 40%;
    margin-left: 30%;
  }

  .social {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

  .social:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}
