// @import url("./assets/img/backgroud.jpeg");

//------custom scrollbar-----
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #8070d4;
}

.MuiToggleButton-root.Mui-selected {
  background-color: #4528d5 !important;
  color: white !important;
}

//
